//color
$white: #ffffff;
$green: #6c9c5a;
$title-color: #373e42;
$color-bg-title: #93c42e;
$title-color-h2: #566358;
$footer-bg: #373e42;

//var-main
$footer-height: 147px;
$header-height: 720px;
$container: 940px;
$main-fonts: 'Roboto';